html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6fadfe;
}


.app{
    width: 475px;
    height: 475px;
    background-color: #fff;
    color: #fff;
    .top{
        height: 247px;
    }
    .inner{
        display: flex;
        gap: 50px;
    }
    .left{
        padding: 15px 0 0 30px;
    }
    .city-title{
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .descriptions{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 24px;
        .icon{
            width: 75px;
            height: 75px;
        }
    }

    .temprature{
        font-size: 32px;
    }

    .time{
        padding: 20px;
        padding-left: 80px;
        font-size: 48px;
    }

    .bottom{
        color: black;
        padding: 20px 0 0 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        img{
            height: 50px;
            width: 50px;
        }
    }
    .daytime{
        margin-top: 35px;
        font-size: 26px;
    }
}


.section-block{
    display: flex;
    align-items: center;
    font-size: 24px;
}

.morning{
    background-image: url(../img/time/morningTime.png);
    color: #298DFF;
}
.day{
    background-image: url(../img/time/dayTime.png);  
}
.evening{
    background-image: url(../img/time/eveningTime.png);
}
.night{
    background-image: url(../img/time/nightTime.png);
}
.hide{
    display: none;
}